/* Medium Layout: 1280px. */
@media only screen and (min-width: 992px) and (max-width: 1300px) { 
  
    #header .sec_bor {
	margin-top: -34px;
	margin-left: 161px;
}
.card {
	padding: 17px;
	width: 17rem !important;
}
}
/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) { 
 .card {
	width: 13rem !important;
}
    
}
/* Mobile Layout: 320px. */
@media only screen and (max-width: 320px) {
    .ban_content {
	margin-left: -145px;
}
#header .sec_bor {
	margin-top: 18px;
}
.card {
	padding: 0px;
	width: 14rem !important;
}
}

.footer_content_1,.footer_content_2,.footer_content_3,.footer_content_4 {
	text-align: center;
}
}


@media only screen and (max-width: 576px) {

}



@media only screen and (max-width: 767px) { 
#header .sec_bor {
	width: 231px;
	margin-top: 17px;
}
 #header  .br_4 {
	width: 30%;
}
 #header  .br_1 {
	width: 32%;
	height: 6px;
	background: #0f81f8;
	border-radius: 15px;
	margin: 0 auto;
	float: left;
}
#header .sec_bor {
	width: 231px;
	margin-top: 12px;
	margin-left: 0px;
}
.single_step {
	margin-top: 6%;
}
.card {
	margin: 0 auto;
	margin-bottom: 3rem;
	
}
.footer_content_1,.footer_content_2,.footer_content_3,.footer_content_4 {
	text-align: center;
}
}
/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 321px) and (max-width: 480px) { 
.ban_content {
	margin-left: -188px;
}
#header .sec_bor {
	margin: 0 auto;
	display: block;
	width: 266px;
	margin-top: 12px;
	margin-left: 0px;
}
.card {
	margin-bottom: 2rem;
	padding: 8px;
	width: 17rem !important;
}
.footer_content_1,.footer_content_2,.footer_content_3,.footer_content_4 {
	text-align: center;
}
}

@media only screen and (min-width:576px){
	.ban_content {
	margin-left: 79px;
}

}